<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw.mapper.PermissionMapper">

	<select id="getPermissionsByRoleId" parameterType="java.lang.String" resultType="Permission">
		select * from t_permission where permissionId in (
			select permissionId from t_role_permission where roleId = #{roleId}
		)
	</select>
	
	<select id="getPermissionsByUserId" parameterType="java.lang.String" resultType="Permission">
		select * from t_permission where permissionId in (
			select permissionId from t_role_permission where roleId in (
				select roleId from t_user_role where userId = #{userId}
			)
		)
	</select>
	
	<select id="list" parameterType="Permission" resultType="Permission">
		select * from t_permission order by permissionSequence
	</select>
	
</mapper>