<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 配置Shiro过滤器，和web.xml中shiroFilter对应 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"></property>
		
		<!-- 认证的url -->
		<property name="loginUrl" value="/user/login"></property>
		<!-- 认证成功统一跳转URL，建议不配置，shiro认证成功自动到上一个请求路径 -->
		<property name="successUrl" value="/toIndex"/>
		<!-- 没有权限时跳转页面 -->
		<property name="unauthorizedUrl" value="/refuse.jsp"></property>
		<!-- 过滤链 -->
		<property name="filterChainDefinitions">
			<value>
				<!-- 静态资源匿名访问 -->
				/hplus/** = anon
				/js/** = anon
				/css/** = anon
				/img/** = anon
								
				<!-- 退出 -->
				/logout = logout
				
				/refuse.jsp = anon
				
				/** = authc
			</value>
		</property>
	</bean>
	
	<!-- 配置SecurityManager安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="customRealm"></property>
		<!-- 设置缓存管理器 -->
		<!-- <property name="cacheManager" ref="cacheManager"></property> -->
	</bean>
	
	<!-- 配置realm -->
	<bean id="customRealm" class="com.jw.shiro.realm.CustomRealm">
		<property name="userService" ref="userService"></property>
		<!-- 设置凭证匹配器 -->
		<property name="credentialsMatcher" ref="credentialsMatcher"></property>
	</bean>
	
	<!-- 凭证匹配器 -->
	<bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
		<property name="hashAlgorithmName" value="md5" />
		<property name="hashIterations" value="5" />
	</bean>
	
	<!-- 缓存管理器 -->
	<!-- <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache.xml"></property>
	</bean> -->
	
</beans>