<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw.mapper.CarBrandMapper">
	<sql id="query_list">
		<where>
			<if test="brandName != null and brandName != ''">
				and brandName like '%${brandName}%'
			</if>
			<if test="brandStatus != null and brandStatus != ''">
				and brandStatus = #{brandStatus}
			</if>
		</where>
	</sql>
	<sql id="query_get">
	</sql>
	
	<select id="list" parameterType="CarBrand" resultType="CarBrand">
		select * from t_car_brand
		<include refid="query_list"></include>
		<include refid="com.jw.mapper.UserMapper.sort"></include>
		<include refid="com.jw.mapper.UserMapper.page"></include>
	</select>
	
	<select id="get" parameterType="CarBrand" resultType="CarBrand">
		select * from t_car_brand
		<include refid="query_get"></include>
	</select>
	
	<select id="count" parameterType="CarBrand" resultType="java.lang.Long">
		select count(*) from t_car_brand
		<include refid="query_list"></include>
	</select>
	
	<insert id="insert" parameterType="CarBrand">
		insert into t_car_brand (
			brandId,
			brandName,
			brandDes,
			brandLogo,
			brandStatus
		)
		values (
			UUID(),
			#{brandName},
			#{brandDes},
			#{brandLogo},
			#{brandStatus}
		)
	</insert>

	<update id="update" parameterType="CarBrand">
		update t_car_brand set brandName = #{brandName}, 
			brandDes = #{brandDes}, 
			brandLogo = #{brandLogo},
			brandStatus = #{brandStatus}
			where brandId = #{brandId}
	</update>
	
	<delete id="delete" parameterType="CarBrand">
		delete from t_car_brand
		<where>
			<if test="brandId != null and brandId != ''">
				and brandId = #{brandId}
			</if>
		</where>
	</delete>

</mapper>